{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <p class="flow xb-margin">
        <em>AUSPEX</em> is a diagnostic tool for graphical X-Ray data analysis, it enable users to automatically detect
        <strong>ice-ring artefacts with HELCARAXE CNN network</strong>, 
        <strong>beamstop outliers with semi-supervised culstering strategy</strong>,
        or visualize other problems in integrated X-ray diffraction data.
    </p>

    <img src="{{ url_for('static', filename='example.png') }}" alt="Example Auspex Plot" class="pimg" />

    <p class="center-text">
        If you would like to plot your own data
        <a href="{{ url_for('upform') }}"><span class="click-here">Run Auspex</span></a>
    </p>

    <p class="center-text">
        Some examples of common pathologies are available
        <a href="{{ url_for('pathol') }}"><span class="click-here">Examples</span></a>
    </p>

    <p class="flow">
        For a more detailed description of AUSPEX and our systematic study of the PDB, please look at the bottom of this page.
    </p>

{% endblock %}