{% extends "layout.html" %}
{% block title %}Upload{% endblock %}
{% block head %}
    <script type=text/javascript src="{{ url_for('static', filename='autodisable.js') }}"></script>
{% endblock %}
{% block content %}

    <p class="flow">
        In order to run the program, you will need a MTZ format file with your observed intensities (typical column names are I, IOBS),
        or if not available, the amplitudes calculated from the intensities (typical column names are FOBS, F, FP).
    </p>
    <p class="flow">
        Alternatively, a PDB code can be specified to generate AUSPEX plots from data deposited to the PDB.
        Please note that not all PDB entries include intensities or amplitudes.
    </p>

    <form id="upform" method="post" action="{{ url_for('auspex') }}" enctype="multipart/form-data">
        <div class="indent">
            <div class="embox">
                <label for="code" class="tooltip">
                    <span class="head">PDB Code</span>
                    <input maxlength="4" name="code" class="pdb" value="4PUC"/>
                    <div class="tri-down"></div>
                    <span class="tooltiptext">Give a 4-letter PDB code.<br/>There must be deposited data.</span>
                </label>
                <button type="submit" name="actcode" value="true">Submit</button>
            </div>

            <center class="emph-head">OR</center>

            <div class="embox">
                <label for="file">
                    <span class="head">MTZ File</span>
                    <input type="file" accept=".mtz" name="file" onchange="enable_upload('filesubmit')"/>
                </label>
                <button type="submit" name="actmtz" value="true" id="filesubmit" class="disabled">Upload</button>
            </div>
        </div>

        <div class="embox darkbox">
            <span class="head">Options</span>
            <div class="equidist">
                <label for="ice" class="tooltip">
                    Icefinder
                    <input type="checkbox" name="ice" checked="checked">
                    <div class="tri-down"></div>
                    <span class="tooltiptext">Flag suspected ice rings red</span>
                </label>
                <label for="ylim" class="tooltip">
                    y-range:
                    <select name="ylim">
                        <option value="auto_low" selected>Lower core distribution</option>
                        <option value="minmax">All data</option>
                        <option value="auto">Distribution core</option>
                        <!--<option value="auto_low" selected>Lower core distribution</option>-->
                        <option value="low">Below mean</option>
                    </select>
                    <div class="tri-down"></div>
                    <span class="tooltiptext">Select the range for intensities, amplitudes, etc.</span>
                </label>
                <label for="res" class="tooltip">
                    resolution cut-off
                    <input type="number" step="0.1" min="0" max="200" name="res" style="width: 8ch" value="" />
                    <div class="tri-down"></div>
                    <span class="tooltiptext">Select the resolution cut-off for plots<br/> (or leave empty)</span>
                </label>
                <label for="shd" class="tooltip">
                    Shared
                    <input type="checkbox" name="shd">
                    <div class="tri-down"></div>
                    <span class="tooltiptext ttt-xwide" checked="False">
                        <b>Private</b> jobs can only be accessed from this session, whereas <b>shared</b> jobs can be accessed by others
                    </span>
                </label>
            </div>
        </div>
    </form>
{% endblock %}