<p class="flow">
If there are only weak data and, depending on the data processing, discrete values of intensities, amplitudes or sigmas may become visible in plots as 'terraced' values. This is normal.
</p>

<div class="figure">
    <img src="{{ url_for('static', filename=exItem['image']) }}" />
    <p class="caption">
        AUSPEX plot of &sigma;(I<sub>obs</sub>) of PDB entry 3QWX, which occupies values between 0 and 8 in discrete steps of 0.1. These discrete values then result in 'terraces' of points in the AUSPEX scatter plot.
    </p>
</div>

<p class="flow">
    <span class="head">Problem:</span>
    None.
</p>

<p class="flow">
    <span class="head">Advice:</span>
    Use data as is or use a different software for processing.
</p>

